<div class="container-add">
	<h1 id="add-title">Zgłoś nowe utrudnienie</h1>
	<label>
		Linia: <span id="add-line-name"></span>
	</label>
	<label>
		<input type="radio" name="reason" value="1"> Wypadek na drodze
	</label>
	<label>
		<input type="radio" name="reason" value="2"> Awaria pojazdu
	</label>
	<label>
		<input type="radio" name="reason" value="3"> Wzmożony ruch
	</label>
	<label>
		<input type="radio" name="reason" value="0"> Inne/Nie wiem
	</label>
	<button type="button" id="add-confirm">Zatwierdź</button>
</div>