<div class="container-add">
    <header>
        <nav>
            <a href="#">&#127968;&#xfe0e;</a>
            <a>?</a>
        </nav>
        <span>Zgłoś utrudnienie</span>
    </header>
    <section>
        <possible-reason-list>
            <item>
                <label for="reason1">
                    <input type="radio" name="reason" id="reason1" /> Awaria pojazdu
                </label>
            </item>
            <item>
                <label for="reason2">
                    <input type="radio" name="reason" id="reason2" /> Wzmożony ruch
                </label>
            </item>
            <item>
                <label for="reason3">
                    <input type="radio" name="reason" id="reason3" /> Wypadek na drodze
                </label>
            </item>
            <item>
                <label for="reason4">
                    <input type="radio" name="reason" id="reason4" /> Inne/nie wiem
                </label>
            </item>
        </possible-reason-list>
        <button id="add-confirm">Zatwierdź</a>
    </section>
</div>