<div class='container-home'>
    <header>
        <nav>
            <a id="home-button-add" href="#">+</a>
            <a id="home-button-about">?</a>
        </nav>
        <span>#ŁódźKorkuje</span>
    </header>
    <section>
        <problem-list>
            <item>
                Awaria autobusu 50 &#9888;&#xfe0e;
                <br />
                <em>&#128336; 30min temu</em>
            </item>
            <item>
                Wypadek, ul. Rokicińska &#128165;&#xfe0e;
                <br />
                <em>&#128336; 2 godz. temu</em>
            </item>
            <item>
                Wzmożony ruch &#128678;&#xfe0e;
                <br />
                <em>&#128336; 2 godz. temu</em>
            </item>
            <item>
                Inne, zanik napięcia
                <br />
                <em>&#128336; 6 godz. temu</em>
            </item>
            <item>
                Lorem lipsum
                <br />
                <em>&#128336; 7 godz. temu</em>
            </item>
        </problem-list>
    </section>
</div>