* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    box-sizing: border-box;
    backface-visibility:hidden;
    -webkit-backface-visibility:hidden;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    max-height: 100%;
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: Lato, sans-serif;
    overflow: hidden;
    -ms-content-zooming: none; 
    -ms-touch-action: none;
}

h1 {
    font-weight: 300;    
}

.app {
    padding: 20px;
    text-align: center;
}

input[type='text'] {
    padding: 6px 10px;
    font-size: 1.2em;
    width: 100%;
}

label {
    display: block;
    text-align: left;
}

button {
    color: #ffffff;
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    white-space: nowrap;
    padding: 10px 18px;
    font-size: 15px;
    line-height: 1.42857143;
    margin: 10px auto 0 auto;
    border-radius: 0;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
}
button, button.pending:active, button.pending:active:focus {    
    background-color: #2780e3;
    border: 1px solid #2780e3;
}

button:active, button:active:focus {
    background-color: #1967be;
    border-color: #1862b5
}
/*
button:focus, button:active:focus  {
    background-color: #1967be;
    border-color: #10427b;
}*/

h1 {
    margin-top: 0;
}

ul {
    text-align: left;
}

.container-add label {
    margin: 10px auto 0 auto;
}

button.pending {
    color: transparent;
    pointer-events: none;
    background-image: url('../img/button-preloader.gif');
}