* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    box-sizing: border-box;
    backface-visibility:hidden;
    -webkit-backface-visibility:hidden;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    max-height: 100%;
    width: 100%;
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    -moz-user-select: none;
    -ms-user-select: none;
    touch-action: none;
    -ms-touch-action: none;
    user-select: none;
    font-family: Lato, sans-serif;
    overflow: hidden;
    -ms-content-zooming: none; 
    -ms-touch-action: none;
    background: #fff;
    font-family: Lato, Arial, Helvetica, sans-serif;
}

header {
    background: #009FDA;
    padding: 1em;
}

header span {
    margin: 0;
    font-size: 1.5em;
    line-height: 2em;
    font-weight: 800;
    color: #eee;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

nav {
    float: right;
}

nav a {
    background: #fff;
    color: #54ACFA;
    display: block;
    width: 2em;
    font-weight: 600;
    height: 2em;
    line-height: 2em;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 50%;
    float: left;
    text-align: center;
    margin-left: 1em;
    text-decoration: none;
}

nav a:active {
    background: #106894;
    color: #fff;
}

problem-list item {
    padding: 0.75em;
}
possible-reason-list item label {
    padding: 1.25em;
    display: block;
}

problem-list item,
possible-reason-list item {
    border-top: 1px solid transparent;
    display: block;
}

problem-list item:active,
possible-reason-list item:active {
    background: #106894;
    color: #fff;
}

problem-list item+item,
possible-reason-list item+item {
    border-top-color: #d5d5d5;
}

em {
    color: #888;
    font-style: normal;
}

button {
    display: block;
    width: 90%;
    margin: 1em auto;
    max-width: 40%;
    text-align: center;
    padding: 1em;
    border: 2px solid #106894;
    font-weight: bold;
    line-height: 1em;
    text-decoration: none;
    color: #106894;
    background: #fff;
}

button:active {
    background: #106894;
    color: #fff;
}